{
  "root": true,
  "extends": [
    "trybe-backend"
  ],
  "ignorePatterns": [
    "**/migrations/*.js", "**/models/*.js", "**/seeders/*.js"],
  "rules": {
    "complexity": [
      "error", {
        "max": 6
        }
      ]
  }
}
